VITE_SUPABASE_URL=https://zwirsurarahtisrhrfbr.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_SCWvl9tr3aPq1-gh4YSbfw_6Ne2bMKr
VITE_MEMBER_EMAIL=hockeylid@houtenheren1.local
VITE_ADMIN_EMAIL=admin@houtenheren1.local
